body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust width as needed */
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#taskInput {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

#addTaskBtn {
    padding: 12px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease; /* Add a subtle transition */
}

li:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.completeBtn {
    background-color: #4CAF50;
    color: white;
}

.editBtn {
    background-color: #2196F3;
    color: white;
}

.deleteBtn {
    background-color: #f44336;
    color: white;
}